<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.mapper.myMapper.MyMapperConfirmOrderMapper">

    <!--修改余票信息-->
    <update id="updateCountBySell" parameterType="map">
        update
            daily_train_ticket
        set
            <if test="seatTypeCode == '02'.toString()">
                ydz = ydz - 1
            </if>
            <if test="seatTypeCode == '03'.toString()">
                edz = edz - 1
            </if>
            <if test="seatTypeCode == '05'.toString()">
                rw = rw - 1
            </if>
            <if test="seatTypeCode == '06'.toString()">
                yw = yw - 1
            </if>
        where
            `date` =  #{date,jdbcType=DATE}
            and train_code = #{trainCode}
            and start_index &gt;= #{minStartIndex}
            and start_index &lt;= #{maxStartIndex}
            and end_index &gt;= #{minEndIndex}
            and end_index &lt;= #{maxEndIndex}
    </update>

</mapper>